<%= render 'follow_form' if signed_in? %>
 <p>
  <%= @book.title %>
</p>

<p>
  
  <%= image_tag(@book.picture_url, :width => 200, :height => 250) if @book.picture.present? %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>


 <% @book.authors.each do |author| %>
  <p> <strong>Author:</strong>
  <%= author.name %>
  </p>

<% end %>


<% if @book.reviews.any? %>
	<h3><%= pluralize(@book.reviews.count, 'review') %></h3>
<% else %>
 <p><strong>No reviews yet. </p>
<% end %>


 <% @book.reviews.each do |review| %>
  <p><%= review.user_name %></p>
  <p><%= review.body %></p>
 
  <p>
  <%= link_to 'Destroy review', [review.book, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
  
 <p>-------------------------------------------------</p> 
   <% end %>

  <div id="star-rating">
    <input type="radio" name="example" class="rating" value="1" />
    <input type="radio" name="example" class="rating" value="2" />
    <input type="radio" name="example" class="rating" value="3" />
    <input type="radio" name="example" class="rating" value="4" />
    <input type="radio" name="example" class="rating" value="5" />
</div> 
   
<h3>Write a review:</h3>
 
 <%= form_for([@book, @book.reviews.build]) do |f| %>
  <p>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
 <% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>